#wrapper {
    width: 600px;
    height: 600px;
    margin: 50px auto;
}

#left {
    width: 200px;
    float: left;
    background-color: rgb(0, 0, 255);
    height: 600px;
}

#center {
    width: 200px;
    float: left;
    background-color: rgb(0, 255, 0);
    height: 600px;
}

#right {
    width: 200px;
    float: left;
    background-color: rgb(255, 0, 0);
    height: 600px;
}